<!DOCTYPE html>
<html>

<head>
  <title>Bare Bones Flask App</title>
</head>

<body>
  <div style="text-align: center; margin-top: 50px;">
    <button id="myButton">
      <!-- Click me Whore! -->
      <img src="https://t4.ftcdn.net/jpg/03/03/62/45/360_F_303624505_u0bFT1Rnoj8CMUSs8wMCwoKlnWlh5Jiq.jpg" alt="Cat">

    </button>
  </div>
  <script>
    // JavaScript code for handling button clicks
    document.getElementById("myButton").addEventListener("click", function () {
      alert("Button Clicked!");
    });
  </script>
</body>

</html>
